a{
    text-decoration: none;
}

@font-face {
    font-family: tariksstyle;
    src: url(others/font.ttf);
}
* {
   font-family: tariksstyle;
   font-weight: bolder;
}
.cars{
    flex-wrap: wrap;
}
.body{
    background-image: url("img/background.jpg");
    background-color: #cccccc;
    background-size: 100%;
    background-repeat: 0;
}
.body1{
    background-image: url("img/backgroundcart.jpg");
    background-color: #cccccc;
    background-size: 100%;
    background-repeat: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-grow: 0.07;
    padding: 35px;
    font-size: larger;
    color: white;
}
.menutext{
    text-decoration: none;
    color: white;
}
.functions {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.1;
    padding: 30px;
    padding-right: 120px;
}

.hr{
    padding-left: 100px;
    padding-right: 100px;
}

.driving {
    display: flex;
    justify-content: end;
    padding: 20px;
    padding-right: 120px;
    font-weight: bold;
    font-size: larger;
    color: white;
}

.text {
    padding-left: 90px;
}

.bmw {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:150;
}

.slogan {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.more {
    color: white;
    background-color:rgb(2, 109, 197) ;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: larger;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    border: 0;
}
.empty{
    padding-bottom: 420px;
}
.emptycart{
    padding-bottom: 500px;
}

.form{
    display: flex;
    background-color: #f0f0f0;
    border-style:solid;
    border-width: 50px;
    border-color: white;
    border-left: 0px;
    border-right: 0px;
    justify-content: space-around;
}
.beowner{
    font-size: xx-large;
    font-weight: 100;
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 90px;
}
.tool{
    padding: 20px;
    border-width: 8px;
    padding-top: 50px;
}
.toolimg{
    padding-left: 35%;
    padding-bottom: 10%;
}
.btnfilter{
    color: white;
    background-color:rgb(2, 109, 197) ;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.btnfilter1{
    color:black;
    background-color:white ;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    border-color: black;
    border-style:solid;
}
.empty1{
    padding-top: 30px;
}


.cars{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.car{
    border-width: 2px;
    border-color: black;
    border-style: outset;
}
.name{
    padding-left: 40px;
    font-size: x-large;
}
.price{
    padding-left: 35px;
    color: #7c7b7b;
    font-weight: bolder;
}
.info{
    padding: 35px;
}
.plus{
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    background-color:rgb(103, 103, 103);
    color: white;
}
.minus{
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    background-color:rgb(103, 103, 103);
    color: white;
}
.chet{
    display: flex;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
}
.foot{
    padding-top: 100px;
}

.textcart{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
}
footer{
    background-image: url(img/backgroundcart2.jpg.jpg);
    background-size: 100%;
}
.pricee{
    display: flex;
    justify-content: end;
    padding: 3%;
    font-size: xx-large;
}